somos un equipo que pertenecemos al curso de Python comision 36585 de la academia
Coderhouse y llevamos a cabo un proyecto en Django de una pagina web dedicada al Anime, series y peliculas
dentro de la web podras registrate, agregar contenido y blogs.

Somos el equipo 3, comformado por Laura Rocca, Matias Heidenreich. y Matias Roberto
36585
Roberto, Matias Exequiel:
#edad : 29 anios
#contacto : mati.72@hotmail.com

Maria Laura Ortiz Rocca:
#edad : 39 años
#contacto : mlauraortizrocca@gmail.com

Matias Heidenreich
#edad : 23
#contacto : heiden.matias@gmail.com