{% extends "paginas/base.html" %}
{% load static %}

{% block title %}

Home

{% endblock %}


{% block contenido %}


{% if user.is_authenticated %}
    <a name="" id="" class="btn btn-primary" href="{% url 'blog_list' %}"role="button">Crea tu blog</a>
    <a name="" id="" class="btn btn-primary" href="{% url 'usuario_logout' %}" role="button">Salir</a>
    <a name="" id="" class="btn btn-primary" href="{% url 'acerca_de_mi' %}" role="button">Creadores del proyecto</a>
{% else %}
    <a name="" id="" class="btn btn-primary" href="{% url 'usuario_signup' %}" role="button">Registrarse</a>
    <a name="" id="" class="btn btn-primary" href="{% url 'usuario_login' %}" role="button">Iniciar sesion</a>
{% endif %}


{% endblock %}