{% extends "paginas/base.html" %}
{% load static %}

{% block title %}

Home

{% endblock %}


{% block contenido %}


<a name="" id="" class="btn btn-primary" href="{% url 'usuario_signup' %}" role="button">Registrarse</a>
<a name="" id="" class="btn btn-primary" href="{% url 'usuario_login' %}" role="button">Iniciar sesion</a>
<a name="" id="" class="btn btn-primary" href="{% url 'usuario_logout' %}" role="button">Salir</a>
<a name="" id="" class="btn btn-primary" href="{% url 'blog_login' %}"role="button">Crea tu blog</a>


{% endblock %}