{% extends 'paginas/base.html' %}
{% load static %}

{% block title %} lista animes {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        {% if user.is_authenticated %}
        <a name="" id="" class="btn btn-success" href="{% url 'crear_pelicula' %}" role="button">Agregar una nueva pelicula</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h4 class="card-title">Peliculas</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Descripcion</th>
                    <th>Autor</th>
                    <th>Duracion</th>
                    {% if user.is_authenticated %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for pelicula in peliculas %}

                <tr>
                    <td>{{ pelicula.id }}</td>
                    <td>{{ pelicula.titulo }}</td>
                    <td>
                    <img src="{{ pelicula.imagen.url }}" height="100"/>     
                    </td>
                    <td>{{ pelicula.descripcion }}</td>
                    <td>{{ pelicula.autor }}</td>
                    <td>{{ pelicula.duracion }}</td>
                    {% if user.is_authenticated %}
                    <td> 
                        <a name="" id="" class="btn btn-info" href="{% url 'actualizar_pelicula' pelicula.id %}" role="button">Actualizar</a> 
                        <a name="" id="" class="btn btn-danger" href="{% url 'borrar_pelicula' pelicula.id %}" role="button">Borrar</a> 
                    </td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>
        </table>
        

    </div>
    <div class="card-footer text-muted">
    
    </div>
</div>

{% endblock %}